<% survey = Survey.find(survey_id) %>
<h1><%= survey.name %></h1>
<h3>Share link to your awesome survey: <a href="/survey/<%= survey_id %>">http://localhost:9393/survey/<%= survey_id %></a></h3>
<h4>survey has stats look at all this data viz all up in your face</h4>
<h4>Survey results:</h4>
 <% survey.questions.each do |q| %> 
  <table>
  <tr class="question">
    <td><%= q.name %></td>
  </tr>
    <% q.options.find(:all, :order => :id).each do |o| %>
  <tr class="option">
    <td><%= o.name %></td>
    <td><%= o.count %></td>
  </tr>
    <% end %>
  </table><br /><br />
<% end %>
