<h1><%=@survey.name%></h1>
<img src="<%=@survey.image.thumb.url%>">
<form action="/submit/<%=@survey.id%>" method="post">
<ul>
  <%@survey.questions.each do |question|%>
  Question: <%= question.name %><br>
    <%question.options.each_with_index do |option, index|%>
    <input type ="radio" name ="<%=question.id%>" value ="<%=option.id%>"><%=option.name%><br>
    <%end%>
  <%end%>
  <br>
</ul>
<input type = "submit" value = "Submit">
</form>
